<html ng-app='Doorbell'>
  <head>
    <meta charset="utf-8" />
    <title>Doorbell</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>
  <body>
    <h1>Doorbell</h1>
    <div class="user" ng-Controller="userController">
      <center>
        <input type="text" class="user-input" name="username" placeholder="NAME">
        <input type="text" class="user-input" name="password" placeholder="Contact Info E-mail/Phone Number"><br>
        <button>Join</button><br>
        <button>Leave</button><br>
        <button>Got In</button><br>
      </center>
    </div>

    <!-- Display all users inside and outside the building -->
    <div class="users-status" ng-Controller="usersController">
      <div class="inside">
        <h1>Inside</h1>
        <div ng-repeat="user in users.inside">
          <span>{user.name + " "} | {" " + user.contactInfo}</span>
        </div>
      </div>
      <div class="outside">
        <h1>Outside</h1>
        <div ng-repeat="user in users.outside">
          <span>{user.name + " "} | {" " + user.contactInfo}</span>
        </div>
      </div>
    </div>

    <!--- Libraries -->
    <script src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <!--<script src="../bower_components/angular-socket-io/socket.js"></script>-->

    <!--- Scripts -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
  </body>
</html>
